/******************
GENERAL STYLES
******************/

body {
  background-color: black;
}

h1 {
  color: magenta;
  font-family: 'Orbitron', sans-serif;
  margin: 2% auto 1%;
  font-size: 5em;
  padding-top: 5%;
  text-align: center;
  text-shadow: 1px 1px 5px steelblue,
              -1px -1px 4px dodgerblue;
}

h3 {
  color: steelblue;
}

p {
  font-family: VT323, courier, monospace;
  color: limegreen;
  font-size: 1.2em;
}



/******************
BUTTONS & INPUT
******************/

button {
  font-family: VT323, courier, monospace;
  font-size: 1.2em;
  border: 1px solid lime;
  color: lime;
  padding: 0.5em;
  background-color: #333;
}

button:focus {
  outline: 2px solid limegreen;
}

input {
  text-align: center;
  font-family: VT323, courier, monospace;
  font-size: 1.2em;
  padding-top: 10px;
  padding-bottom: 12px;
  background-color: #333;
  border: none;
  color: lime;
}

input[type=text]:focus {
  outline: 2px solid lime;
}



/******************
POSITIONING
******************/

#setup {
  text-align: center;
  color: steelblue;
}

#wingmen {
  height: 200px;
  /*border: 2px solid limegreen;*/
  margin: 0;
  text-align: center;
}

#player {
  /*border: 2px solid magenta;*/
  position: absolute;
  width: 100%;
  bottom: 0;
}

#playerHand {
  text-align: center;
  perspective: 1200px;
  margin: 0;
}

#buttons {
  text-align: center;
  height: 50px;
  margin-top: 5px;
}

#friendlyBase,
#enemyBase {
  background: #333;
  height: 300px;
  width: 120px;
  padding: 5px;
  margin: 5px;
  vertical-align: middle;
  font-size: 0.9em;
}

#friendlyBase {
  float: left;
  border: 2px solid steelblue;
  border-radius: 0 33% 33% 0;
}

#enemyBase {
  float: right;
  text-align: right;
  border: 2px solid crimson;
  border-radius: 33% 0 0 33%;
}

#wingman-pursuers {
  z-index: 1;
  text-align: center;
  height: 100px;
}

#playerPursuers {
  text-align: center;
  display: block;
  margin-bottom: -100px;
}


/******************
CARD STYLES
******************/

.tactical,
.enemy {
  transform: rotateX(15deg);
  transition: transform 0.4s;
  font-size: .75em;
  color: white;
  position: relative;
  background-color: #333;
  display: inline-block;
  padding: 1em;
  margin: 0 -1em;
  vertical-align: middle;
}

.tactical {
  border: 2px solid magenta;
  border-radius: 10px;
  height: 180px;
  width: 110px;
  z-index: 2;
}

.enemy {
  border: 2px solid crimson;
  border-radius: 5px;
  height: 130px;
  width: 80px;
  margin-top: -110px;
}

li p {
  padding: 0;
  margin: 0;
  color: white;
}

#playerHand .selected {
  transform: translate3d(0, -40px, 200px);
  border: 2px solid lime;
  z-index: 3;
}

#playerHand .disabled {
  background-color: #444;
  border-color: #C59;
  color: #888;
}

#wingmen ul,
#wingman-pursuers ul {
  display: inline-block;
}

#wingmen ul {
  margin: 0 10px;
}

#wingman-pursuers ul {
  margin: 0 20px;
}

#wingmen .tactical {
  font-size: .5em;
  border-radius: 5px;
  height: 100px;
  width: 60px;
  padding: 1em;
  margin: 0 -2em;
  z-index: 1;
  vertical-align: middle;
  transform: rotate(180deg);
  margin-top: -50px;
  z-index: 0;
}

#wingmen .tactical h3,
#wingmen .tactical p {
  display: none;
}

#playerPursuers h3,
#playerPursuers p {
  display: none;
}

/******************
PLAYER SUMMARIES
******************/

.playerSummary {
  text-align: left;
}

#player .playerSummary {
  position: absolute;
  bottom: 70px;
  left: 20%;
}

#wingmen .playerSummary {
  font-size: 0.7em;
  display: inline-block;
  margin-left: 3em;
}
