.tactical,
.advTactical {
  @include card(105px);
  border: 2px solid $primaryPink;
  z-index: 2;
  &:hover {
    cursor: pointer;
  }
}

.selected {
  @include selection;
}

#playerHand {
  @include undoListOffset;
  width: 328px;
  height: 200px;
  @media (max-width: 1000px) {
    width: 275px;
    height: 165px;
  }
  transform: rotateX(10deg);
  border-top: 3px solid $primaryPink;
  border-bottom: 5px solid $primaryPink;
  border-radius: 1em;
  padding: 10px 40px;
  background: $darkTranslucent;
  & .tactical {
    transform: rotateX(15deg);
    z-index: 8;
    &:hover {
      @include selectable;
    }
  }
  & .selected {
    z-index: 200 !important;
    transform: translate3d(0, -25px, 100px);
    &:hover {
      @include selection;
    }
  }
  & .disabled {
    @include disabled;
  }
}

#wingmen .tactical {
  @include card(70px);
  margin: 0 -1.5em;
  margin-top: -60px;
  @media (max-width: 1000px) {
    margin-top: -45px;
  }
  font-size: .5em;
  z-index: 0;
  vertical-align: middle;
  & h3 {
    // @include hide;
  }
  & p {
    // @include hide;
  }
}
