.tactical,
.advTactical {
  @include cardBase;
}

.tactical,
.advTactical {
  border: 2px solid $primaryPink;
  border-radius: 10px;
  height: 170px;
  width: 105px;
  z-index: 2;
  transition: 0.4s ease-out;
  position: relative;
  &:hover {
    cursor: pointer;
  }
}

.selected {
  @include selection;
}

#playerHand {
  @include undoListOffset;
  width: 328px;
  height: 200px;
  border-top: 3px solid $primaryPink;
  border-bottom: 5px solid $primaryPink;
  border-radius: 1em;
  padding: 10px 40px;
  background: rgba(0,0,0,0.8);
  & .tactical {
    transform: rotateX(15deg);
    z-index: 8;
    &:hover {
      @include selectable;
    }
  }
  & .selected {
    z-index: 200 !important;
    transform: translate3d(0, -25px, 100px);
    &:hover {
      @include selection;
    }
  }
  & .disabled {
    @include disabled;
  }
}

#wingmen .tactical {
  margin: 0 -1.5em;
  border-radius: 7px;
  margin-top: -60px;
  height: 120px;
  padding: 1em;
  width: 75px;
  font-size: .5em;
  z-index: 0;
  vertical-align: middle;
  & h3 {
    // @include hide;
  }
  & p {
    // @include hide;
  }
}
