extends ./layout.pug

block content
  .menu#gameMenu
    h3.formHeader Create or join a base
    form#gameInfo(action='/menu' method='post' onsubmit='return validateForm();')
      .create
        input.session#createSession(type='radio' name='session'  value='create')
        label(for='createSession') New Base
      .join
        input.session#joinSession(type='radio' name='session' value='join')
        label(for='joinSession') Join Base
      .difficulty
        input.difficultyChoice.valid(type='radio' name='difficulty' id='two' value='2')
        label(for='two') Easy
        input.difficultyChoice.valid(type='radio' name='difficulty' id='three' value='3' checked)
        label(for='three') Medium
        input.difficultyChoice.valid(type='radio' name='difficulty' id='four' value='4')
        label(for='four') Hard
        input.difficultyChoice.valid(type='radio' name='difficulty' id='five' value='5')
        label(for='five') Brutal
      .session
        label(for='sessionName') Base name: 
        input#sessionName(type='text' name='sessionName')
      h3#pilotHeader Choose a pilot ability
      fieldset.carousel#pilots
        legend Pilot ability choices
        div.pilots
          a.backward(data-move='backward' data-carousel='pilot' hidden aria-hidden='true')
          ul.carousel-labels(left0)
            li
              label(for='medalOfHonor')
                img(src='public/img/star.png' alt='medalOfHonor')
              p Medal of Honor: Receive 1 extra merit for each enemy you destroy
            li
              label(for='deadeye')
                img(src='public/img/crosshair.png' alt='deadeye')
              p Deadeye: Roll an extra combat die for fire/missile
            li
              label(for='heavyArmor') 
                img(src='public/img/shield.png' alt='heavy armor')
              p Heavy Armor: Increase max armor to 15
            li
              label(for='negotiator') 
                img(src='public/img/negotiate.png' alt='negotiator')
              p Negotiator: Merit purchases cost 1 less
            li
              label(for='daredevil') 
                img(src='public/img/devil.png' alt='daredevil')
              p Daredevil: You can attack the enemy base with one pursuer
            li
              label(for='strategist') 
                img(src='public/img/chess.png' alt='strategist')
              p Strategist: Draw 4 tactical cards each round (still use 3)
            li
              label(for='medic') 
                img(src='public/img/medic.png' alt='medic')
              p Medic: Once per round you may repair 1 armor to a friendly as a free action
          a.forward(data-move='forward' data-carousel='pilot' hidden aria-hidden='true')
          ul.carousel-radios
            li
              input.cradio.valid(type='radio' data-value='0' name='pilot' id='medalOfHonor' value='medalOfHonor' checked)
              span
            li
              input.cradio.valid(type='radio' data-value='1' name='pilot' id='deadeye' value='deadeye')
              span
            li
              input.cradio.valid(type='radio' data-value='2' name='pilot' id='heavyArmor' value='heavyArmor')
              span
            li
              input.cradio.valid(type='radio' data-value='3' name='pilot' id='negotiator' value='negotiator')
              span
            li
              input.cradio.valid(type='radio' data-value='4' name='pilot' id='daredevil' value='daredevil')
              span
            li
              input.cradio.valid(type='radio' data-value='5' name='pilot' id='strategist' value='strategist')
              span
            li
              input.cradio.valid(type='radio' data-value='6' name='pilot' id='medic' value='medic')
              span
      .submit
        button.disabled(type='submit' value='confirm') CONFIRM
      .link
        p 
          a(href='/profile') View profile
        
block js
  include ./partials/_auth.pug
