doctype html
html
  head
    meta(charset='utf-8')
    title #{gameTitle}
    link(rel='stylesheet' href='public/css/normalize.css')
    link(href='https://fonts.googleapis.com/css?family=Orbitron|VT323' rel='stylesheet')
    link(rel='stylesheet' href='public/css/home.css')
    link(rel='icon' href='public/img/icon.png')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')

  body
    header#rulesHeader
      a(href='/login')
        h1.title #{gameTitle}
        h3#subtitle how to play
    #content
      #rules
        #gettingStarted
          h2 Getting Started
          p If it is your first time visiting, welcome! <a href="/register" target="blank">Create an account</a> by entering a callsign, valid email, and password. This account will allow you to host or join games, and will log your wins and losses.
          p If you’ve been here before, <a href="/login" target="blank">log in</a>.
          p To report for duty, you can either start a new game, or join an existing one by typing the name of the game (base name).
          ul
            li If you are creating the game, you must give your base a name that is not currently in use. You can use standard letters, numbers, underscores (_) and dashes (-). You must also choose a Difficulty Setting. This determines the number of times it is possible for the Enemy Base to increase the amount of fighters it deploys each round. (We recommend starting on Medium or Easy for your first time). You will become the game host and have the power to launch the game as soon as a second player joins (or wait for 3rd and 4th players).
            li If you are joining a game, you must enter exactly the same base name as the game host (case sensitive).
          p Choose a Special Ability.
        #objectOfTheGame
          h2 Overview
          h4 Object of the Game
          p #{gameTitle} is a cooperative game, meaning everyone wins or everyone loses. 
            | The object of the game is to destroy the Enemy Base. If the Friendly Base is destroyed or if all pilots (players) are destroyed, players lose.
          h4 The Golden Rule
          p If a pilot ability or tactical card conflicts with the rules written here, that ability or tactical card overrides the typical rule.
          h4 Using the web app
          p Note that we have tried to make the rules of the game explicit on this page, but a lot of what is described below will be done automatically by the application. We just want you to understand what's going on behind the scenes!
        #gameComponents
          h2 Game Components
          p <strong>Pilots</strong>: Controlled by you, the player. There can be 2-4 pilots. Pilots have a beginning (and maximum) armor of 10. Together, the friendly base and pilots are referred to as <strong>friendlies</strong>.
          p <strong>Friendly Base</strong>: Must be protected by the pilots. In many ways it is treated similarly to the pilots, but it is not controlled by a player and cannot take actions. The Friendly Base has a starting (and maximum) armor of 30. Together, the friendly base and pilots are referred to as <strong>friendlies</strong>.
          p <strong>Tactical deck</strong>: Represent the actions that pilots can take in a round. Pilots receive 3 <strong>tactical cards</strong> each round and must use them all.
          p <strong>Advanced tactical deck</strong>: Under certain conditions, pilots may contact the friendly base's <strong>CIC</strong> (Command Information Center) to receive <strong>Advanced Tactical Cards</strong>.
          p <strong>Merit</strong>: Awarded to pilots for destroying enemies, attacking the Enemy Base, or assisting a friendly. Can be used to acquire <strong>Advanced Tactical Cards</strong>. Also affects turn order and enemy distribution.
          p <strong>Enemy Base</strong>: The main enemy of the game. It launches fighters and takes an action in each round. The Enemy Base has a starting (and maximum) armor of 30.
          p <strong>Enemy deck</strong>: Consists of <strong>enemy fighters</strong> and <strong>empty space</strong> cards. Enemy fighters have four stats: 
            | Power [PWR] (the amount of damage they deal at the end of a round), Armor [ARM] (the amount of damage you must deal to destroy it), Targeting [TGT] (how difficult it is to evade), and Merit reward (MRT) (how much merit is awarded to the pilot that destroys it). Enemy cards are drawn to friendlies each round, becoming their <strong>pursuers</strong>. 
            | It is possible to move them to another friendly using certain tactics, but they stay in play until destroyed.
            | <br><br>The amount of empty space cards in the deck depends on how many pilots are in the game. 2 pilots: 8 empty space cards. 3 pilots: 4 empty space cards. 4 pilots: no empty space cards.
          p <strong>Enemy base deck</strong>: These cards determine a random action the Enemy Base takes each round.
          p <strong>Damage</strong>: Damage is applied to friendlies and enemies. When damage is equal a friendly or enemy's maximum <strong>armor</strong>, that friendly or enemy is destroyed.
          p <strong>Combat Dice</strong>: Three types of six-sided die are used in the game: A typical six-sided die, used for evade attempts, a <strong>basic combat die</strong> (3 miss, 2 single damage, 1 double damage), and a <strong>missile die</strong> (2 miss, 2 single damage, 2 double damage).
        #howToPlay
          h2 How to Play
          h4 Rounds and Turns
          p #{gameTitle} is played in rounds, which consist of three phases:
          ol
            li Set up
            li Player turns
            li Enemy action
          h4#setup The set up phase
          p During this phase, three tactical cards are dealt to each player, the CIC is replenished, and enemy fighters are <strong>launched</strong> (drawn) from the enemy deck
          p In the first round, draw 4 Advanced Tactical Cards to the CIC. After the first round, leave whatever cards are left in the CIC and draw new cards from the Advanced Tactical Deck until there are 4 again.
          p In the first round, the Enemy Base launches a number of fighters equal to twice the number of friendlies (friendly base plus pilots). So, for a 2 player game, the Enemy Base launches 6 fighters in the first round. For a 3 player game, it launches 8. For a 4 player game, it launches 10.
          p After the first round, the Enemy Base launches a number of fighters equal to the number of friendlies (eg. 3 players = 4 enemies launched each round). This number can be increased throughout the game by Enemy Base cards. This number never goes down, even if a pilot is destroyed.
          p When enemy fighters are launched they are distributed to friendlies starting with the pilot who has the most <strong>merit</strong>. If there is a tie for the most merit, the first enemy fighter is drawn to the Friendly Base (this is always the case in the first round). The next enemy fighter is drawn to the next friendly to the left and so on until there are no new enemies.
          h4#playerTurns The player turns phase
          p Each pilot gets 3 turns each round. Once each player has taken 3 turns, the round continues to the enemy action phase. The pilot with the most merit goes first. If there is a tie for the most merit, the player to the left of the friendly base (Player1) goes first (always the case in the first round). Note: Turn <em>order</em> never changes, but who goes first can change throughout the game.
          p Your goal is to work with your fellow pilots to destroy the Enemy Base. However, pilots may only attack the Enemy Base when they are free of pursuers (unless a tactical card or ability says otherwise).
          p Each Turn you will use 1 of your Tactical Cards. You must either <strong>use [USE]</strong> that card or <strong>discard [DSC]</strong> that card. Tactical cards cannot be used on your own pursuers, unless stated otherwise by the card.
          p To use a tactical card, simply resolve the instructions on the card and then discard it to the tactical deck discard pile.
          p Alternately, you may immediately discard a tactical card to:
          ul
            li <strong>Attack [ATK]</strong>: Choose a target and roll 4 basic combat dice. Deal damage equal to amount indicated.
            li <strong>Evade [EVD]</strong>: Choose one of your pursuers to attempt evade and roll a D6. If the result is equal to or greater than that pursuer's targeting (TGT) stat, you successfully shake this enemy and it moves to Friendly Base  – be careful not to let it get overwhelmed.
            li <strong>Contact CIC [CIC]</strong>: If you have enough merit to receive an Advanced Tactical Card in the CIC, you may return that amount of merit to the pool and use the selected Advanced Tactical card immediately. It is discarded to the regular Tactical Deck's discard pile. This means it may return to your (or another pilot's) hand in a future round. If so, you do not have to spend its merit cost again.
          p If you destroy an enemy during your turn, immediately remove it from the fray and place it in the enemy deck discard pile. Collect merit equal to the enemy's Merit reward (MRT) stat. Any successful attack (damage greater than 0) on the enemy base is awarded 1 merit.
          p After you use one of your Tactical cards, your turn is over and the next pilot to the left will go. Turns are pretty quick and carelessness can lead to your destruction. While other pilots maneuver, you should be thinking ahead to your next turn. Other pilots' tactics will not be visible to you, but you may communicate with each other about the cards in your hands to best coordinate your actions.

          h4#enemyAction The enemy action phase
          p After each player takes all 3 of their turns, the round passes to the enemy action phase, during which enemy fighters deal damage to the friendlies they are pursuing and a new Enemy Base card is drawn.
          p For each enemy fighter that is left in the fray, deal damage to whichever friendly it is pursuing equal to its Power (PWR) stat. If a pilot is destroyed, remove them from the game and redistribute their pursuers to the remaining friendlies, starting with the pilot who has the most merit. If all pilots are destroyed, the game ends immediately and the players lose.
          p Draw a new Enemy Base card and resolve its action.
        #endGame
          h2 Ending the game
          p If the Enemy Base is destroyed, the game ends immediately and players win.
          p If the Friendly Base is destroyed, the game ends immediately and players lose.
          p If all pilots are destroyed, the game ends immediately and players lose.
        #questions
          h2 Questions?
          p Have we not explained something very well? Questions about the rules? Not sure how something works? Be sure to <a href="mailto:natgalla@gmail.com" target="blank">contact us</a>. We'll be building an FAQ as these things come up.

    footer
      p &copy; 2016 Nathan Gallagher &amp; Rudi Vanzin. Design by Nathan Gallagher
    script(src='http://code.jquery.com/jquery-3.1.1.min.js' type='text/javascript' charset='utf-8')
    script(src='js/menu.js')
