/* GENERAL STYLES ****************/

* {
  box-sizing: border-box;
}

html {
  background-color: #000;
}



/* HEADER STYLES ****************/

header {
  background-image: linear-gradient(to top, steelblue -15%, transparent 30%),
                    linear-gradient(#000 5%, transparent),
                    url(../img/space.jpg);
  background-color: rgba(0,0,0,0.7);
  background-repeat: no-repeat;
  background-size: cover;
  color: magenta;
  width: 100%;
  height: 80vh;
  min-height: 450px;
  padding: 20px 0;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Orbitron', sans-serif;
  width: 300px;
  margin: 0 auto;
  font-size: 4em;
  padding-top: 10%;
  text-shadow: 1px 1px 5px steelblue,
              -1px -1px 4px dodgerblue;
  transition: text-shadow 1.2s ease-out;
  border-bottom: 2px dashed steelblue;
}

header a, header a:visited {
  color: inherit;
}

header h1:hover {
  text-shadow: 2px 3px 7px steelblue,
               1px 2px 3px steelblue,
              -2px -2px 7px lime,
              -1px -1px 3px steelblue;
}

h3 {
  font-family: 'VT323', monospace;
  background-color: rgba(11,11,11,0.7);
  font-size: 1.5em;
  margin: 0.5em auto 0;
  padding-bottom: 8px;
  max-width: 300px;
  color: magenta;
  border-left: 4px solid magenta;
  border-right: 4px solid magenta;
  border-radius: 0.3em;
}



/* CONTENT STYLES ****************/

#content {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

#rules {
  max-width: 750px;
  margin: 0 auto;
  padding: 3em 1em;
}

header#rulesHeader {
  background-image: linear-gradient(#000 5%, transparent),
                    url(../img/space.jpg);
  height: 300px;
  min-height: 300px;
}

#rulesHeader h1 {
  padding-top: 3%;
}

#rules div {
  padding: 1em 0.5em;
  border-bottom: 2px dashed black;
}

#rules .qa {
  border-bottom: 2px dashed steelblue;
}

#rules div:last-child {
  border-bottom: none;
}

#questions h2 {
  margin-bottom: 0;
}

h2 {
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  color: steelblue;
}

.center {
  text-align: center;
}

a, a:visited {
  transition-duration: 0.5s;
  color: steelblue;
  text-decoration: none;
}

a:hover {
  color: magenta;
  text-decoration: none;
}

section {
  /*border-bottom: 2px dashed black;*/
  width: 85%;
  margin: 0 auto;
  padding: 5% 0 1%;
}

section p:last-child {
  padding-bottom: 2em;
  border-bottom: 2px dashed black;
}
section:last-child p:last-child {
  border-style: none;
}

button {
  margin: 0 auto;
  display: block;
  font-family: 'VT323', courier, monospace;
  font-size: 1.3em;
  border: 1px solid limegreen;
  color: limegreen;
  padding: 0.5em;
  background-color: #222;
  border-radius: 3px;
  box-shadow: inset -2px -2px 1px limegreen, inset 1px 0px 1px limegreen;
  transition: box-shadow 0.15s;
}

button:hover {
  color: #84e184;
  box-shadow: inset -2px -2px 1px lightgreen, inset 1px 0px 1px lightgreen, 0px 0px 5px lightgreen;
  cursor: pointer;
}

button:focus {
  outline: none;
  box-shadow: none;
  color: #28a428;
  border-color: #1e7b1e;
}



/* FOOTER STYLES ****************/

footer {
  background-color: black;
  width: 100%;
  color: white;
  font-size: 0.8em;
  text-align: center;
  margin: 0;
}

footer p {
  padding: 1.5%;
}



/*********************
Media queries
*********************/


/* MID SIZE OVERIDES ****************/

@media (min-width: 640px) {

  h1 {
    font-size: 5em;
    width: 380px;
  }

  h3 {
    font-size: 1.8em;
    max-width: 375px;
  }

  section {
    width: 75%;
    padding: 2em;
    font-size: 1.1em;
  }

  .clearfix::after {
    content: " ";
    display: table;
    clear: both;
  }

}


/* LARGE SIZE OVERIDES ****************/

@media (min-width: 920px) {

  #content {
    padding: 0 2em;
  }

  h1 {
    font-size: 6em;
    width: 450px;
  }

  h3 {
    font-size: 2.15em;
    max-width: 420px;
  }

  section {
    float: left;
    font-size: 1.1em;
    width: 35%;
    padding: 1em;
  }

  #kickstarter,
  #try {
    width: 30%;
  }

  section p:last-child {
      border-bottom: none;
  }

  section:nth-child(3n) p:last-child {
    border-bottom: 2px dashed black;
  }

}

.disclaimer {
  font-size: 0.8em;
}
