#overlay {
  height: 250px;
  width: 570px;
  margin-left: -285px;
  @media (max-width: $breakWidth), (max-height: $breakHeight) {
    height: 210px;
    width: 480px;
    margin-left: -240px;
  }
  position: absolute;
  bottom: 55px;
  left: 50%;
  text-align: center;
  background: $darkTranslucent;
  vertical-align: middle;
  @include bracketsVertical(5px, 0.8em);
  z-index: 100;
  transform: rotateX(10deg);
  & ul {
    margin-left: -40px;
    transform: rotateX(10deg);
  }
  & .advTactical {
    margin: 0.6em;
    box-shadow: 0px 0px 100px $invisible;
    &:hover {
      cursor: pointer;
      @include selectable;
    }
  }
  & .unavailable {
    @include disabled;
  }
}

.cost {
  position: absolute;
  bottom: 1em;
  left: 1.5em;
  font-weight: bold;
  font-size: 1.3em;
}

.purchasing {
  @include selection;
  &:hover {
    @include selection;
  }
}
