@mixin undoListOffset {
  padding-left: 0;
}

@mixin selectable {
  box-shadow: 2px 2px 3px $highlightPink,
              -2px -2px 5px $highlightPink;
  z-index: 9 !important;
  &:hover {
    cursor: pointer;
  }
}

@mixin selection {
  border-color: $complementGreen;
  box-shadow: 2px 2px 3px $highlightGreen,
              -2px -2px 5px $highlightGreen;
  &:hover {
    cursor: pointer;
  }
}

@mixin card($width) {
  width: $width;
  height: $width*1.55;
  border-radius: $width/10;
  transition: 0.5s ease-out;
  font-size: 0.7em;
  color: white;
  position: relative;
  background-color: $darkGrey;
  display: inline-block;
  padding: 1em;
  margin: 0 -1em;
  vertical-align: middle;
  & h3 {
    margin: 0.3em 0 0.8em 0;
  }
  @media (max-width: 1000px), (max-height: 700px) {
    width: $width/1.2;
    height: $width/1.2*1.55;
    border-radius: $width/1.2/10;
  }
}

@mixin disabled {
  z-index: 0;
  background-color: rgba(30,30,30,0.8);
  border-color: $mediumGrey;
  box-shadow: none;
  color: $lightGrey;
  &:hover {
    color: $lightGrey;
    box-shadow: none;
    cursor: not-allowed;
  }
  &:focus {
    color: $lightGrey;
    box-shadow: none;
    cursor: not-allowed;
    border-color: $mediumGrey;
  }
  & h3 {
    color: desaturate($secondaryBlue, 20%);
  }
}

@mixin hide {
  display: none;
}

@mixin enemyTargeted {
  z-index: 1000;
  transform: translate3d(0, 10px, 150px);
  box-shadow: 2px 2px 5px $primaryPink,
              -2px -2px 7px $primaryPink;
}

@mixin friendlyTargeted {
  z-index: 1000;
  background-color: $darkGrey;
  box-shadow: 2px 2px 5px $highlightGreen,
              -2px -2px 7px $highlightGreen;
}

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  ::-webkit-scrollbar {
      width:  $size;
      height: $size;
  }

  ::-webkit-scrollbar-thumb {
      background: $foreground-color;
  }

  ::-webkit-scrollbar-track {
      background: $background-color;
  }

  // For Internet Explorer
  body {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
