.playerSummary {
  text-align: left;
  padding: 5px 10px;
  margin-left: 10px;
  border-radius: 10px;
  background-color: $darkTranslucent;
  border-top: 3px solid $secondaryBlue;
  border-bottom: 4px solid $secondaryBlue;
  & h3 {
    margin: 0.5em 0;
  }
  margin-top: 20px 0;
}

.playerSummary,
#FriendlyBase {
  transition: 0.5s ease-out;
}

#userSummary {
  position: absolute;
  display: inline-block;
  z-index: -10;
  margin-top: 40px;
  &.bumped {
    margin-left: 70px;
  }
  width: 100px;
  @media (max-width: $breakWidth), (max-height: $breakHeight) {
    width: 80px;
    &.bumped {
      margin-left: 65px;
    }
  }
}

#wingmen .playerSummary {
  font-size: 0.8em;
  display: inline-block;
  margin-top: 2em;
}

.assist {
  background-color: $darkGrey;
  box-shadow: 0px 3px 4px $highlightBlue,
              -0px -2px 3px $highlightBlue;
  &:hover {
    border-color: $highlightBlue;
    box-shadow: 0px 3px 4px $highlightBlue,
                -0px -2px 3px $highlightBlue;
  }
}

.pursued {
  color: $secondaryOrange;
}
