.tactical,
.advTactical {
  @include card(100px);
  border: 2px solid $primaryPink;
  z-index: 2;
}

.selected {
  @include selection;
}

#playerHand {
  @include undoListOffset;
  height: 175px;
  @media (max-width: $breakWidth), (max-height: $breakHeight) {
    height: 150px;
  }
  transform: rotateX(10deg);
  border-top: 3px solid $primaryPink;
  border-bottom: 5px solid $primaryPink;
  border-radius: 1em;
  padding: 10px 40px;
  background: $darkTranslucent;
  & .advTactical,
  & .tactical {
    transform: rotateX(15deg);
    box-shadow: 0px 0px 100px $invisible;
    z-index: 8;
    &:hover {
      @include selectable;
    }
  }
  & .selected {
    box-shadow: none;
    z-index: 200 !important;
    transform: translate3d(0, -25px, 100px);
    @include selection;
    &:hover {
      @include selection;
    }
  }
  & .disabled {
    @include disabled;
  }
}

.wingmanHand .tactical,
.wingmanHand .advTactical {
  @include card(70px);
  margin-left: -5em;
  &:first-child {
    margin-left: 10em;
  }
  margin-top: -9em;
  @media (max-width: $breakWidth), (max-height: $breakHeight) {
    margin-top: -7.5em;
  }
  font-size: .5em;
  z-index: 0;
  vertical-align: middle;
  & h3 {
    @include hide;
  }
  & p {
    @include hide;
  }
}
