body {
  background-color: black;
  background-repeat: no-repeat;
  background-size: 100% 100vh;
  background-image: linear-gradient($black, rgba(0,0,0,0.3), $black),
                    url(../../img/space.jpg);
  perspective: 1200;
  & h1 {
    color: $primaryPink;
    font-family: 'Orbitron', sans-serif;
    margin: 2% auto 1%;
    font-size: 5.5em;
    padding-top: 5%;
    text-align: center;
    text-shadow: 2px 2px 5px $highlightBlue,
                -2px -2px 4px $shadeBlue;
  }
  @media (max-width: 1000px) {
    font-size: 0.8em;
    button {
      font-size: 1.4em;
    }
  }
}

h3 {
  color: $secondaryBlue;
}

p {
  font-family: $fontStack;
  color: $complementGreen;
  font-size: 1.2em;
  margin: 5px 0;
}

ul {
  margin-left: -40px;
}

li p {
  padding: 0;
  margin: 0;
  color: $white;
}

#status {
  font-family: $fontStack;
  list-style: none;
  text-align: center;
  color: $complementGreen;
  margin-left: -2.5em;
}

#copyright {
  font-family: sans-serif;
  color: $secondaryBlue;
  font-size: 0.8em;
  position: fixed;
  bottom: 10px;
  text-align: center;
  width: 100%;
}

#setup {
  text-align: center;
  color: $secondaryBlue;
}

#wingmen {
  height: 200px;
  margin-top: -30px;
  text-align: center;
  & ul {
    display: inline-block;
    margin: 0 10px;
  }
  & .targeted {
    @include friendlyTargeted;
  }
}

#player {
  position: absolute;
  width: 50%;
  text-align: center;
  bottom: 0;
  left: 50%;
  margin-left: -25%;
}

#playerHand {
  display: inline-block;
  text-align: center;
  perspective: $perspective;
  margin: 0;
}

#wingmen ul,
#wingmen-pursuers ul,
#wingmen div,
#playerHand div {
  display: inline-block;
}
