extends ./layout.pug

block content
  #room.menu
    #info
      ul#status
      #messenger
        form#chat
          h3.formHeader Stand by for launch...
          input(type="text", name="message", id="message")
          button(type="submit", id="sendMessage") SEND
          p.nameReminder Your game name is: #{gameName}
  #playArea
    #wingmen
      ul.wingman-hand#wingman1-hand
      #wingman1-summary
      ul.wingman-hand#wingman2-hand
      #wingman2-summary
      ul.wingman-hand#wingman3-hand
      #wingman3-summary
    #wingmen-pursuers
      ul#wingman1-pursuers
      ul#wingman2-pursuers
      ul#wingman3-pursuers
    #FriendlyBase.FriendlyBase
    #friendlyBasePursuers
      ul#basePursuers
    #enemyBase.enemy
    #player
      ul#playerPursuers
      ul#playerHand
      #userSummary
      #buttons

block js   
  script(src="/socket.io/socket.io.js")
  script(type="text/javascript" src="js/game.js")
