extends ./layout.pug

block content
  #playArea
    #wingmen
      ul.wingman-hand#wingman1-hand
      #wingman1-summary
      ul.wingman-hand#wingman2-hand
      #wingman2-summary
      ul.wingman-hand#wingman3-hand
      #wingman3-summary
    #wingmen-pursuers
      ul#wingman1-pursuers
      ul#wingman2-pursuers
      ul#wingman3-pursuers
    #FriendlyBase.FriendlyBase
    #friendlyBasePursuers
      ul#basePursuers
    #enemyBase.enemy
    #player
      ul#playerPursuers
      ul#playerHand
      #userSummary
      #buttons
