extends ./layout.pug

block content
  h1#title Starfire
  #room.menu
  #info
    ul#status
    #messenger
      form#chat
        input(type="text", name="message", id="message")
        button(type="submit", id="sendMessage") Send
    p.copyright Starfire &copy; 2016 Nathan Gallagher and Rudi Vanzin. Design by Nathan Gallagher.
  #playArea
    #wingmen
      ul.wingman-hand#wingman1-hand
      #wingman1-summary
      ul.wingman-hand#wingman2-hand
      #wingman2-summary
      ul.wingman-hand#wingman3-hand
      #wingman3-summary
    #wingmen-pursuers
      ul#wingman1-pursuers
      ul#wingman2-pursuers
      ul#wingman3-pursuers
    #FriendlyBase.FriendlyBase
    #friendlyBasePursuers
      ul#basePursuers
    #enemyBase.enemy
    #player
      ul#playerPursuers
      ul#playerHand
      #userSummary
      #buttons

block js   
  script(src="/socket.io/socket.io.js")
  script(type="text/javascript" src="js/client.js")
