extends ./layout.pug

block content
  h1#title Starfire
  .menu#gameMenu
    h3.formHeader Create or join session
    form(action='/menu' method='post')
      .create
        input(type='radio' name='createjoin')
        label(for='create') New Game
      .join
        input(type='radio' name='createjoin')
        label(for='create') Join Game
      .session
        label(for='text') Session name: 
        input#sessionName(type='text' name='sessionName')
      .submit
        button(type='submit' value='confirm') Confirm
        
block js
  include ./partials/_auth.pug
