extends ./layout.pug

block content
  h1#title Starfire
  .menu#register
    h3.formHeader New pilot registry
    form(action='/register' method='post' onsubmit='return validateForm();')
      .callsign
        label(for='callsign' title='This will be your username') Callsign: 
        input.enterCallsign#createCallsign(type='text' name='callsign' title='This will be your username')
      .email
        label(for='email') Email: 
        input#email(type='email' name='email')
      .password
        label(for='passwordCreate' title='Must be at least 8 characters long') Password: 
        input.enterPassword#passwordCreate(type='password' name='password' title='Must be at least 8 characters long')
      .confirm
        label(for='passwordConfirm' title='Must match password') Confirm: 
        input#passwordConfirm(type='password' name='passwordConfirm' title='Must match password')
      .updates
        input.valid(type='checkbox' name='updates')
        label#updates(for='updates' title='Only major updates. We promise not to spam you') Keep me posted on Starfire's release
      .submit
        button.disabled(type='submit') ENLIST
    .createAccount
      p 
        a(href='/login') Already registered?
        
block js
  include ./partials/_auth.pug
