extends ./layout.pug

block content
  h1#title Starfire
  .menu#register
    h3.formHeader Welcome, pilot
    .createAccount
      p 
        a(href='/login') Report for duty
        
block js
  include ./partials/_auth.pug
