extends ./layout.pug

block content
  h1#title Starfire
  .menu#register
    h3.formHeader Welcome, #{callsign}
    .link
      p 
        a(href='/profile') View profile
        
block js
  include ./partials/_auth.pug
